<!--
Generated template for the EntregasPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{titulo}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
        <ion-item *ngIf="entregas.length == 0">Nenhuma entrega cadastrada.</ion-item>
        <ion-item *ngFor="let entrega of entregas">
            <ion-avatar item-start>
                <img src="{{entrega.img}}">
            </ion-avatar>
            <h2>{{entrega.nome}}</h2>
            <p>Entregar em <strong>{{entrega.data_entrega | date: "dd/MM/yyyy"}}</strong> às <strong>{{entrega.hora_entrega}}</strong></p>
            <button ion-button  item-end color="light" (click)="mostrarDetalhes(entrega)">
                <ion-icon name="information-circle"></ion-icon>
            </button>
            <button ion-button  item-end color="light" (click)="editar(entrega)">
                <ion-icon name="create"></ion-icon>
            </button>
            <button ion-button  item-end color="danger" (click)="remover(entrega)">
                <ion-icon name="remove-circle"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
  <ion-fab right bottom >
     <button ion-fab mini color="danger" (click)="adicionar()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>

<!-- <ion-footer no-border>
  <ion-toolbar>
    <ion-row>
        <ion-col col-10><strong>Mostrar concluídas</strong></ion-col>
        <ion-col col-2><ion-toggle checked="false"></ion-toggle></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->
