<ion-header>
  <ion-navbar>
    <ion-title>{{titulo}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item *ngIf="entregas.length == 0">Nenhuma entrega cadastrada.</ion-item>
        <button ion-item *ngFor="let entrega of entregas" (click)="mostrarAcoes(entrega)">
            <ion-avatar item-start>
                <img src="./assets/imgs/{{entrega.img}}">
            </ion-avatar>
            <h2>{{entrega.nome}}</h2>
            <p>Entregar em <strong>{{entrega.data_entrega | date: "dd/MM/yyyy"}}</strong> às <strong>{{entrega.hora_entrega}}</strong></p>
        </button>
    </ion-list>
  <ion-fab right bottom >
     <button ion-fab mini color="danger" (click)="adicionar()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
